body{
    background-color: black;
    display: flex;
    padding: 0;
    margin: 0;
}
.draw{
    display: flex;
    overflow: auto;
    margin-left: 13%;
}
.blue-sec{
    background-color: rgb(16, 172, 224);
    padding-right: 50px;
    min-height: 100vh;
    height: max-content;
    width: max-content;
    overflow: auto;
}
.dash{
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 30px;
    gap: 10px;
    filter: invert(100%);
}
.home{
    padding-left: 30px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Profile{
    padding-left: 35px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Messages{
    padding-left: 34px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.History{
    padding-left: 30px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Tasks{
    padding-left: 30px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Communities{
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Settings{
    margin-top: 30px;
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Support{
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}
.Privacy{
    padding-left: 32px;
    padding-right: 70px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    filter: invert(100%);
}

.white-sec{
    
    background-color: white;
    min-height: 100vh;
    max-height: max-content;
    overflow: auto;
    min-width: 100vh;
    max-height: max-content;
}
.head{
    padding-top: 30px;
    padding-left: 30px;
    width: 110vh;
}
.upper{
    display: grid;
    grid-template-columns: 20px 700px 40px 40px 10px;
    gap: 20px;
    align-items: center;
}
.bell{
    filter: invert(50%);
}
.upper .p{
    font-family: 'Times New Roman', Times, serif ;
    line-height: normal;
}
.upper input[type="text"]{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 600px;
    opacity: 0.7;
    background-color: rgb(237, 237, 235);
    height: 25px;
}
